html {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  padding-top: 13rem;
}

/* Big container */
.container {
  border-radius: 3%;
  background-color: white;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

/* Big components */
.bill,
.reset {
  width: 350px;
  height: 350px;
  display: flex;
  border-radius: 3%;
}

/* Reset component  */
.reset {
  background-color: hsl(183, 100%, 15%);
}

/* Bill component */
.bill {
  /* border: 1px solid black; */
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* Input component */
.input {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}

label {
  padding-bottom: 5px;
}

.text-input {
  background-color: hsl(189, 41%, 97%);
  width: 330px;
  height: 35px;
  border: none;
}

.tip {
  width: 95px;
  height: 40px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 5%;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.custom-tip {
  width: 95px;
  height: 40px;
  background-color: hsl(189, 41%, 97%);
  border-radius: 5%;
  color: hsl(186, 14%, 43%);
  text-align: center;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: none;
}

p {
  margin-bottom: 0.5rem;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
